@import './variables';

.btn {
    padding: $space-normal $space-large;
    display: inline-block;
    background-color: $white;
    color: $black;
    border-radius: .2rem;
    box-shadow: none;
    outline: none;
    border: .1rem solid $pure-black;
    text-shadow: .1rem .1rem .1rem $black;

    &.btn-primary {
        background-color: $green;
        color: $white;
        border-color: $dark-green;
    }

    &.btn-black {
        color: $white;
        background-color: $black;
    }

    &.btn-block {
        display: block;
        width: 100%;
        text-align: center;
        height: 35px;
    }
}

