@import './variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');

html {
    font-size: 62.5%;
}

h1 {
    font-size: $largest;
}

h2 {
    font-size: $larger;
}

h3 {
    font-size: $large;
}

h4 {
    font-size: $medium;
}

h5 {
    font-size: $regular;
}

h6 {
    font-size: $small;
}

p {
    font-size: $regular;
}

strong {
    font-weight: 700;
}

.small {
    font-size: $small;
}

.x-small {
    font-size: $smallest;
}

body {
    font-family: $roboto;
}