@import './variables';

// Global utility classes
.container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: $space-large;
}

.section-margin {
    height: 63px;
}

// Text utility classes
.green-text {
    color: $green;
}
.section-title {
    margin: $space-normal 0;
    text-align: center;
}

// Form utility classes 
.form-field {
    margin: $space-large 0;
    
    label {
        display: block;
        width: 100%;
        margin-bottom: $space-small;
        font-size: $regular;
    }

    input {
        display: block;
        width: 100%;
        padding: $space-small;
        height: 35px;
        font-size: 1.4rem;
        border: none;
        border-radius: .2rem;
    }

    textarea {
        display: block;
        padding: $space-small;
        font-size: 1.4rem;
        font-family: $roboto;
        width: 100%;
        height: 70px;
        resize: vertical;
    }
}