$roboto: 'Roboto', sans-serif;

// FONT SIZE VARIABLES
$largest: 4rem;
$larger: 3rem;
$large: 2.5rem;
$medium: 1.8rem;
$regular: 1.6rem;
$small: 1.2rem;
$smallest: 1rem;
$menu: 1.6rem;

// COLOR VARIABLES
$black: #333;
$pure-black: #000;
$white: #fff;
$green: #00d200;
$dark-green: #017a01;


// PADDINGS, MARGINS, SPACINGS
$space-small: .5rem;
$space-normal: 1rem;
$space-big: 1.5rem;
$space-large: 2rem;
$space-xlarge: 3rem;