@import '../variables';

section.about {
    display: flex;
    flex-direction: column;

    .about-image {
        flex: 1;
        background: url('../img/people.jpg') no-repeat center center/cover;
        min-height: 400px;
    }

    .about-text {
        flex: 1;
        padding: $space-xlarge;
        background-color: $black;
        color: $white;
        border-left: 2px solid rgba($white, .5);

        h2 {
            margin-bottom: $space-large;
        }

        p {
            margin-bottom: $space-xlarge;
        }
    }

    .about-team {
        margin-top: calc($space-xlarge + 2rem);
        
        h4 {
            margin-bottom: $space-large;
        }

        .team-members {
            list-style: none;
            font-size: $regular;
            
            li {
                margin-bottom: $space-normal;

                span {
                    color: $green;
                }
            }
        }
    }
}