@import '../variables';

section.clients {

    .clients-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: $space-xlarge;

        img {
            display: inline-block;
            width: calc(20% - 20px);
            margin: $space-big;
        }
    }
}