@import '../variables';

section.contact {
    display: flex;
    flex-direction: column;

    .contact-form {
        flex: auto;
        background-color: $green;
        padding: $space-xlarge;
        color: $white;

        p {
            margin: $space-large 0;
        }
    }

    .contact-map {
        flex: auto;
        height: 500px;
    }
}