@import '../variables';

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba($black, .96);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-normal;
}

.logo {
    color: $white;

    * {
        display: inline-block;
        font-size: $medium;
    }

    i {
        color: $green;
        margin-left: $space-normal;
        margin-right: $space-small;
    }
}

.menu-trigger {
    color: $white;
    font-size: $large;
    margin-right: $space-normal;
    cursor: pointer;

    &.active {
        color: $green;
    }
}

.menu {
    position: absolute;
    width: 100%;
    background-color: #333;
    top: 60px;
    right: -100vw;
    transition: right .3s ease-out;

    &.open {
        right: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: $space-small;

        li {
            list-style: none;
            color: $white;
            font-size: $menu;
            border-radius: .2rem;
            text-shadow: .1rem .1rem .1rem $black;
            cursor: pointer;

            &.active {
                background-color: $green;

                &:hover {
                    color: $white;
                }
            }

            &:hover {
                color: $green;
            }

            a {
                padding: 0.8rem 1.5rem;
                display: block;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}