@import '../variables';

section.hero {
    height: 100vh;
    background-image: url('../img/showcase.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: $white;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .5;
    }

    .hero-text {
        position: relative;
        text-align: center;
        flex-direction: column;
        padding: $space-normal;
        z-index: 1;

        * {
            margin: $space-normal;
    justify-self: center;
        }
    }
}
