@import '../variables';

section.services {

    .services-list {
        display: flex;
        flex-direction: column;

        .single-service {
            display: flex;
            margin: $space-large;
            justify-content: center;
            flex: 1;

            i.fas {
                align-self: center;
                background-color: $green;
                border-radius: 50%;
                padding: $space-large;
                font-size: $large;
                margin-right: $space-big;
            }

            h4 {
                margin-bottom: $space-normal;
            }
        }
    }
}