@import '../variables';

@media screen and (min-width: 768px) {

    //Utility classes
    .section-margin {
        height: 60px;
    }

    //Header section
    header {
        .menu-trigger {
            display: none;
        }

        .menu {
            background-color: initial;
            position: static;
            width: auto;

            ul {
                flex-direction: row;
            }
        }
    }

    //Contact section
    section.contact {
        flex-direction: row;

        .contact-form {
            max-width: 700px;
            width: 40%;
            height: calc(100vh - 60px);
            min-height: 570px;
        }

        .contact-map {
            height: calc(100vh - 60px);
            min-height: 570px;  
        }
    }
}