@import '../variables';

@media screen and (min-width: 1100px) {

    //Utility classes
    .container {
        max-width: 1180px;
    }

    //Services section
    section.services {

        .services-list {
            flex-direction: row;
        }
    }

    //About section
    section.about {
        flex-direction: row;
    }

    //Clients section
    section.clients {

        .clients-list {
    
            img {
                width: 140px;
                margin: $space-xlarge;
            }
        }
    }

    //Contact section 
    section.contact {
    
        .contact-form {
            max-width: 700px;
            width: 30%;
        }
    }
}